body{
    background-color:#faeee7 ;
}
.heading{
    margin-left: 20px;
}


    .main{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .child-1{
        width: 500px;
        margin: 40px;
        
    }

    .text-1{
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .text-2{
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
        text-align: center;
        margin-bottom: 10px;
    }

    .text-3{
        font-size: 20px;
        font-weight: 700;
        text-align: justify;
        text-align: center;
        margin-bottom: 10px;
    }

    .child-2{
        width: 500px;
        margin: 40px;
        
    }

   .image-model{
    width: 650px;
    height: 400px;
    border-radius: 10px;
   }

   .btn-1{
    width: 220px;
    padding: 7px;
    border-radius: 20px;
    font-size: 17px;
    color:white;
    background-color:black;
    border: 2px solid black;
    margin: 10px;
    margin-left: 30px;
    cursor: pointer;
   }

   .btn-2{
    width: 150px;
    padding: 7px;
    border-radius: 20px;
    font-size: 17px;
    color: black;
    background-color: aliceblue;
    border: 2px solid black;
    margin: 10px;
    margin-left: 30px;
    cursor: pointer;
   }
   .basic-1{
    background-color: #f9dbdc;
    height: 200px;
    width: 100%;
   }
   .text-3{
    font-size: 20px;
    font-weight: 700;
    text-align: justify;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 40px;
   }
   .img-1{
    padding: 7px;
    border-radius: 20px;
    margin: 10px;
    margin-top: 20px;
    margin-left: 30px;
    
   }
   .cards-back
   {
    background-color: #fbdada;
    height: 400px;
    width: 100%;

   }
   .hd{
    font-size: 33px;
    font-family: "Goudy Bookletter 1911", sans-serif;

   }

  /* Media Queries for Mobile Device */
@media screen and (max-width: 550px)
{
    .child-1{
        width: 200px;
        margin: 150px;
        
    }  
    .text-1{
        font-size: 20px;
        
        text-align: center;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .text-2{
        font-size: 8px;
        font-weight: 130;
        text-align: justify;
        text-align: center;
        margin-bottom: 5px;
    }

    .text-3{
        font-size: 10px;
        font-weight: 300;
        text-align: justify;
        text-align: center;
        margin-bottom: 5px;
    }
    .child-2{
        display: none;
    }
    .image-model{
        width: 150px;
        height: 100px;
        border-radius: 10px;
       }
    
       .btn-1{
        width: 120px;
        padding: 7px;
        border-radius: 10px;
        font-size: 10px;
        color:white;
        background-color:black;
        border: 2px solid black;
        margin: 10px;
        margin-left: 10px;
        cursor: pointer;
       }
    
       .btn-2{
        width: 70px;
        padding: 3px;
        border-radius: 10px;
        font-size: 7px;
        color: black;
        background-color: aliceblue;
        border: 2px solid black;
        margin: 10px;
        margin-left: 10px;
        cursor: pointer;
       }
       .basic-1{
        background-color: #f9dbdc;
        height: 100px;
        width: 100%;
       }
       .text-3{
        font-size: 10px;
        font-weight: 300;
        text-align: justify;
        text-align: center;
        margin-bottom: 10px;
        padding-top: 40px;
       }
       .img-1{
        padding: 7px;
        border-radius: 20px;
        margin: 10px;
        margin-top: 20px;
        margin-left: 30px;
        
       }
       .cards-back
       {
        background-color: #fbdada;
        height: 200px;
        width: 100%;
    
       }
       .hd{
        font-size: 33px;
        font-family: "Goudy Bookletter 1911", sans-serif;
    
       }
    
}
/* Tablet Device */
@media screen and (min-width: 551px) and (max-width: 768px)
{
    .child-1{
        width: 300px;
        margin: 250px;
        
    }  
    .text-1{
        font-size: 30px;
        
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .text-2{
        font-size: 16px;
        font-weight: 260;
        text-align: justify;
        text-align: center;
        margin-bottom: 10px;
    }

    .text-3{
        font-size: 20px;
        font-weight: 600;
        text-align: justify;
        text-align: center;
        margin-bottom: 10px;
    }
    .child-2{
        width: 250px;
        margin: 20px;
    }
    .image-model{
        width: 250px;
        height: 150px;
        border-radius: 10px;
       }
    
       .btn-1{
        width: 120px;
        padding: 7px;
        border-radius: 20px;
        font-size: 10px;
        color:white;
        background-color:black;
        border: 2px solid black;
        margin: 10px;
        margin-left: 30px;
        cursor: pointer;
       }
    
       .btn-2{
        width: 100px;
        padding: 7px;
        border-radius: 20px;
        font-size: 10px;
        color: black;
        background-color: aliceblue;
        border: 2px solid black;
        margin: 10px;
        margin-left: 30px;
        cursor: pointer;
       }
       .basic-1{
        background-color: #f9dbdc;
        height: 140px;
        width: 100%;
       }
       .text-3{
        font-size: 20px;
        font-weight: 400;
        text-align: justify;
        text-align: center;
        margin-bottom: 10px;
        padding-top: 40px;
       }
       .img-1{
        padding: 7px;
        border-radius: 20px;
        margin: 10px;
        margin-top: 20px;
        margin-left: 30px;
        
       }
       .cards-back
       {
        background-color: #fbdada;
        height: 300px;
        width: 100%;
    
       }
       .hd{
        font-size: 23px;
        font-family: "Goudy Bookletter 1911", sans-serif;
    
       }
    
}